

html {

    background-size: cover;
    /* Cool background */
    /* background: radial-gradient(755.50px at 50% 50%, #D2DEFD 0%, #A8BFFA 100%); */
    /* Warm background */
    /* background: radial-gradient(755.50px at 50% 50%, #FDE2D2 0%, #FAA8A8 100%); */
    
}


h1 { 
    
    margin: auto;
    margin-top: 175px;
    margin-bottom: 60px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 122px;
    line-height: normal;
    text-align: center;
    position: relative;
    
    color: #FFFFFF;

    animation: seeme 6s cubic-bezier(.11,.18,.34,1);
}

.dateHeadline{

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
}
@keyframes seeme {
    0%, 75% {
        opacity: 0;
        top: 20px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}
@keyframes stretch {
    0% {
        
        opacity: 0;
        font-size: 0px;
    }
    100% {
        
        opacity: 1;
        font-size: 282px;
    }

}

.temp{ 
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 282px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    animation: stretch 4s ease-out;
         
       
}



.then {
    width: 50%;
    left: 0px;
    display: inline-block;  
    float: left;
    
}

.now {
    width: 50%;
    display: inline-block;
    
    
    
 
}

@media screen and (max-width: 600px) {

    h1 {
        margin-top: 200px;
        margin-bottom: 100px;
        font-size: 40px;
    }

    .dateHeadline {
        width: 100%;
        font-size: 32px;
    }

    @keyframes stretchToo {
        0% {
            
            opacity: 0;
            font-size: 80px;
        }
        100% {
            
            opacity: 1;
            font-size: 100px;
        }
    }

    .temp {
        width: 100%;
        font-size: 100px;
        animation: stretchToo 4s ease-out;
        
    }
    .then {
        width: 50%;
        
    }
    .now {
        width: 50%;
    }
}




