

html {
    
    /* Cool background */
    background: radial-gradient(755.50px at 50% 50%, #D2DEFD 0%, #A8BFFA 100%);
    /* Warm background */
    /* background: radial-gradient(755.50px at 50% 50%, #FDE2D2 0%, #FAA8A8 100%); */
}


h1 { 
    
    margin: auto;
    margin-top: 175px;
    margin-bottom: 60px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 122px;
    line-height: normal;
    text-align: center;
    
    color: #FFFFFF;
}

.dateHeadline{

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
}



.temp{    
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 282px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    
}

.then {
    width: 50%;
    left: 0px;
    display: inline-block;
    float: left;
}

.now {
    width: 50%;
    display: inline-block;
 
}




